<?xml version="1.0"?>
<robot name="ficha_x">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.785398"/>
      <geometry>
        <box size="0.0848 0.012 0.02"/>
      </geometry>
      <material name="rojo">
        <color rgba="1.0 0.1 0.1 1.0"/>
      </material>
    </visual>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -0.785398"/>
      <geometry>
        <box size="0.0848 0.012 0.02"/>
      </geometry>
      <material name="rojo"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>
</robot>